*{
  margin: 0;
  box-sizing: border-box;
}
body{
  color: white;
  width: 40%;
  margin: 2rem auto;
}
main{
  background-color: teal;
  padding: 3rem;
  box-shadow: 3px 3px 4px grey;
}
#ordered{
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  font-size: 20px;
}
.ordered-list{
  margin-top: 5rem;
  margin-bottom: 15rem;
  font-size: 10px;
}
#unordered{
  margin-top: 1.5rem;
  color: blanchedalmond;
  font-size: 20px;
}
.unordered-list{
  margin-top: 10rem;
  color: yellow;
  font-size: 12px;
}
.dislikes{
  color: blanchedalmond;
}
.list-item{
  color: white;
}
#book{
  color: silver;
}
.un-list-item{
  font-size: 22px;
}
#stress{
  font-size: 26px;
}
